body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
    padding-top: 80px;
}
h1 {
    color:#ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: Semi bold;  
    text-align: center;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    margin: 0;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #00bcd4;
}

input[type="search"] {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.section img {
    max-width: 45%;
    height: auto;
}

.section .text {
    color: #ffffff;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
}
#preHistory {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid black 1px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
}
#preHistoryText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}


.hidden {
    display: none;
}


.fade-in {
    animation: fadeInAnimation 1.5s ease-in forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#preHistoryButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#preHistoryButtons button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid black 1px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
    margin: 0 10px; 
}
#stoneAgeText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#bronzeAgeText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#ironAgeText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#antiquity {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid black 1px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
}
#antiquityText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#neolithicPeriod {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid black 1px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
}
#neolithicText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#earlyModern {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid black 1px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXtlwFDgwiADd8alHr2R5u52vNTW2ITsPQ&s");
}
#earlyModernText {
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}